@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 90px;
  margin: 0 auto;
}

.navigation-list {
  margin-top: 0;
  padding: 0;
  display: flex;
}

.navigation-item {
  padding: 10px;
  padding-top: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.navigation-user {
  margin-left: auto;
}

.navigation-link {
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  gap: 10px;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.introduction {
  width: 1200px;
  height: 485px;
  background-image: url("../imgs/index-background.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  line-height: 36px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sedona-section {
  width: 1200px;
  height: 261px;
  align-content: center;
}

.gorgeous-sedona {
  text-align: center;
}

.sedona-header {
  color:#000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.sedona-text {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item {
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 1);
  vertical-align: bottom;
}

.advantages-title {
  color: black;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  color: black;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.white-text h2 {
  color: #ffffff;
}

.white-text p {
  color: #ffffff;
}

.advantages-item-img {
  width: 800px;
  height: 385px;
}

.advantages-two-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-two-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.advantages-two-item {
  width: 400px;
  height: 385px;
  background-color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.advantages-two-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-transparent-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-transparent-2 {
  background-color: rgba(131, 179, 211, 0.20);
}

.best-hotels {
  margin: 100px;
}

.subscription {
  background-image: url("../imgs/subscription.jpeg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 414.86px;
  align-content: center;
}

.subscription-header {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.subscription-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-sedona {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-form {
  border-radius: 4px;
  margin: 0 auto;
  width: 452px;
  height: 52px;
  text-align: center;
  align-items: center;
}

.button.button-all {
  text-align: center;
  align-items: center;
}

.button-all {
  font-family: inherit;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.email-form {
  display: flex;
  width: 682px;
  height: 52px;
}

.email-input {
  display: flex;
  width: 452px;
  height: 46px;
}

.email-button {
  display: flex;
  width: 232px;
  height: 52px;
}

footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}

.footer-social-list {
  gap: 10px;
  display: flex;
  margin-left: 20px;
}

.footer-contacts-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.button.html-academy {
  margin-right: 70px;
  margin-top: 6px;
}
